.dashhead {
    font-size: xx-large;
    font-weight: bolder;
    padding: 1em;
}

.dashbox {
    display: flex;
}

.dashCash {
    padding: 1em;
    padding-left: 2em;
    background-color: #444;
    margin: 1em;
    margin-left: 5%;
    margin-right: 5%;
    color: #fff;
}

.dashporf {
    height: 600px;
    width: 55%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #444;
}

.news {
    width: 30%;
    margin-right: 5%;
    margin-bottom: 5%;
    background-color: #444;
    color: #fff;
}

.news > h2 {
    justify-self: center;
    padding: .5em;
    margin: 1em;
}

.news > h3 {
    margin: 1em;
    padding-left: .5em;
}

.news > p {
    padding: 1em;
    padding-top: .25em;
    margin: 0.5em;
    margin-left: 2.5em;
    margin-right: 1.5em;
    color: black;
    font-weight: 500;
}

@media (max-width: 990px) {
    .dashbox {
        display: block;
    }

    .dashporf {
        width: 90%;
    }

    .news {
        width: 90%;
        margin-left: 5%;
    }
}