/* LOGIN PAGE */

.login {
    margin-top: 10em;
    margin-right: 30em;
  }

.loginImg {
    display: flex;
    justify-content: center;
}

.loginImg img {
    width: 40em;
}

.loginInput {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.username {
    margin-right: 2em;
    font-size: large;
    font-weight: 500;
}

.password {
    margin-left: 2em;
    font-size: large;
    font-weight: 500;
}

.username input, .password input {
    width: 20em;
    height: 3em;
    border: 2px solid black;
}

.loginButton {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.createAccountButton {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.loginButton button {
    background-color: #73c235;
    border: 2px solid black;
    padding: 10px;
    font-weight: 800;
    font-size: large;
    width: 12em;
    height: 3em;
}

.loginButton button:hover, .createAccountButton button:hover {
    transform: scale(103%);
}

.createAccountButton button {
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 10px;
    font-weight: 800;
    font-size: large;
    width: 12em;
    height: 3em;
}

@media (max-width: 1200px) {
    .login {
        margin-right: 0;
    }
}
@media (max-width: 749px) {
    .loginInput {
        display: grid;
    }
    .username {
        margin-right: 0;
    }
    .password {
        margin-left: 0;
    }
    .loginImg img {
        width: 90%;
    }
}


/* CREATE ACCOUNT PAGE */

/* there may be css classes that can be reused from the login page */


/* HELP PAGE */

/* there may be css classes that can be reused from the login page */
.helpbox {
    justify-content: center;
    padding: 1em;
    margin: 2em;
    margin-left: 25%;
    margin-top: 75px;
    width: 50%;
    background-color: #CEDDE2;
    border-radius: 1em;
    min-height: 550px;
}

.helpbox > header, .helpbox > p {
    margin: 1em;
    padding: .5em;
    padding-bottom: 0;
    display: flex;
    justify-content: center;

}

.helpbox > header {
    font-weight: bold;
    font-size: xx-large;
    padding-top: 0;
}

.helpform {
    display:flex;
    margin-left: 5%;
    width: 90%;
    padding-bottom: 20px;
}

form.helpform > div > input {
    width: 80%;
    height: 3em;
    padding: .25em;
    box-shadow: 2px 2px 5px gray;
}

form.helpform > div > p {
    padding: .5em;
}

form.helpform > div > input.servicetext{
    min-height: 100px;
    text-align: left;
    vertical-align: top;
}

.leftform {
    display: flex;
    justify-content: center;
    align-items: right;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    min-height: 200px;
}

.rightform {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    min-height: 200px;
}