/* LOGIN PAGE */

.login {
    margin-top: 5em;
    margin-right: 30em;
  }

.loginImg {
    display: flex;
    justify-content: center;
}

.loginImg img {
    width: 40em;
}

.loginInput {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.username {
    margin-right: 2em;
    font-size: large;
    font-weight: 500;
}

.password {
    margin-left: 2em;
    font-size: large;
    font-weight: 500;
}

.username input, .password input {
    width: 20em;
    height: 3em;
    border: 2px solid black;
}

.loginButton {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.createAccountButton {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.loginButton button {
    background-color: #73c235;
    border: 2px solid black;
    padding: 10px;
    font-weight: 800;
    font-size: large;
    width: 12em;
    height: 3em;
}

.loginButton button:hover, .createAccountButton a:hover {
    transform: scale(103%);
}

.createAccountButton a {
    background-color: black;
    color: white;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-weight: 800;
    font-size: large;
    width: 11em;
    height: 1.5em;
}

@media (max-width: 1200px) {
    .login {
        margin-right: 0;
    }
}
@media (max-width: 749px) {
    .loginInput {
        display: grid;
    }
    .username {
        margin-right: 0;
    }
    .password {
        margin-left: 0;
    }
    .loginImg img {
        width: 90%;
    }
}


/* CREATE ACCOUNT PAGE */

.signup {
    display:flex;
    margin-left: 25%;
    width: 50%;
    padding-bottom: 20px;
    flex-direction: column;
}

.signup > input {
    height: 3em;
    padding: .25em;
    box-shadow: 2px 2px 5px gray;
}

.signup > p {
    padding: 1em;
}

.signupsubmit {
    margin-bottom: 2em;
}

@media (max-width: 1200px) {
    .signup{
        width: 70%;
        margin-left: 15%;
    }

}
@media (max-width: 749px) {
    .signup{
        width: 80%;
        margin-left: 10%;
    }

}

/* HELP PAGE */

.helpbox {
    padding: 1em;
    margin: 5%;
    width: 60%;
    background-color: #CEDDE2;
    border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
}

.helpbox > header, .helpbox > p {
    margin: 1em;
    padding: .5em;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
}

.helpbox > header {
    font-weight: bold;
    font-size: xx-large;
    padding-top: 0;
}

.helpform {
    display:flex;
    margin-left: 2.5%;
    width: 95%;
    padding-bottom: 20px;
}

form.helpform > div > input {
    width: 80%;
    height: 3em;
    padding: .25em;
    box-shadow: 2px 2px 5px gray;
}

form.helpform > div > p {
    padding: .5em;
    align-self: flex-start;
}

form.helpform > div > input.servicetext{
    min-height: 150px;
    text-align: left;
    vertical-align: top;
}

.leftform {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    min-height: 200px;
}

.rightform {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    min-height: 200px;
}

@media (max-width: 1200px) {
    .helpbox{
        width: 70%;
        margin-left: 15%;
    }

    .helpform{
        display: block;
        width: 90%;
        margin-left: 5%;
    }

    .leftform{
        width: 100%;
    }

    .rightform{
        width: 100%;
    }    

    form.helpform > div > input {
        width: 90%;
        height: 3em;
        padding: .25em;
        box-shadow: 2px 2px 5px gray;
    }
}

@media (max-width: 749px) {
    .helpbox{
        width: 80%;
        margin-left: 10%;
    }

    .helpform{
        display: block;
    }

    .leftform{
        width: 100%;
    }

    .rightform{
        width: 100%;
    }
}

@media (max-width: 340px) {
    .helpbox{
        width: 80%;
        margin: 10%;
        margin-top: 20px;
        margin-left: 5%;
        padding: .5em;
    }

    .helpbox > header, .helpbox > p {
        margin: 0;
        padding: 0;
        padding-bottom: .25em;
        display: flex;
        justify-content: center;
    }

    .helpform{
        display: block;
        padding: 0;
        margin: 0;
    }

    .leftform{
        width: 100%;
        padding: 0;
    }

    .rightform{
        width: 100%;
        padding: 0;
    }
}


/* TRANSFER PAGE */

form.Transfers > div > input {
    width: 80%;
    height: 3em;
    padding: .25em;
    box-shadow: 2px 2px 5px gray;
}

form.Transfers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin-left: 2.5%;
}

.Transfers .leftform,
.Transfers .rightform {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 10px;
    min-height: 200px;
}


/* HISTORY PAGE */

.transaction-container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
  }

.transaction-header {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
}

#historyTable {
    width: 100%;
    border-collapse: collapse;
    background-color: #1f1f1f;
    color: #fff;
}

#historyTable th, #historyTable td {
    padding: 12px;
    text-align: center;
    border: 1px solid #444;
}

#historyTable th {
    background-color: #444;
    color: #fff;
}

#historyTable tbody tr:nth-child(even) {
    background-color: #2a2a2a;
}

#historyTable tbody tr:hover {
    background-color: #3d3d3d;
}


/* ADMIN PAGE */

.admin-container {
    padding: 1em;
    margin: 5%;
    width: 60%;
    background-color: #CEDDE2;
    border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
}

.admin-lg {
    font-size: large;
    font-weight: 500;
}

.createStock {
    display:flex;
    margin-left: 25%;
    width: 50%;
    padding-bottom: 20px;
    flex-direction: column;
}

.createStock > input {
    height: 3em;
    padding: .25em;
    box-shadow: 2px 2px 5px gray;
}

.createStock > p {
    padding: 1em;
}

.createStockSubmit {
    margin-bottom: 2em;
}

@media (max-width: 1200px) {
    .createStock{
        width: 70%;
        margin-left: 15%;
    }

}
@media (max-width: 749px) {
    .createStock{
        width: 80%;
        margin-left: 10%;
    }

}