/* LOGIN PAGE */

.login {
    margin-top: 10em;
    margin-right: 30em;
  }

.loginImg {
    display: flex;
    justify-content: center;
}

.loginImg img {
    width: 40em;
}

/*
@media only screen and (max-width: 960px) {
    .loginImg img {

    }
}
*/

.loginInput {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.username {
    margin-right: 2em;
    font-size: large;
    font-weight: 500;
}

.password {
    margin-left: 2em;
    font-size: large;
    font-weight: 500;
}

.username input, .password input {
    width: 20em;
    height: 3em;
    border: 2px solid black;
}

.loginButton {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.createAccountButton {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.loginButton button {
    background-color: #73c235;
    border: 2px solid black;
    padding: 10px;
    font-weight: 800;
    font-size: large;
    width: 12em;
    height: 3em;
}

.loginButton button:hover, .createAccountButton button:hover {
    transform: scale(103%);
}

.createAccountButton button {
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 10px;
    font-weight: 800;
    font-size: large;
    width: 12em;
    height: 3em;
}


/* CREATE ACCOUNT PAGE */

/* there may be css classes that can be reused from the login page */


/* HELP PAGE */

/* there may be css classes that can be reused from the login page */