form.Transfers > div > input {
    width: 80%;
    height: 3em;
    padding: .25em;
    box-shadow: 2px 2px 5px gray;
}

form.Transfers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin-left: 2.5%;
}

.leftform {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    min-height: 200px;
}

.rightform {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    min-height: 200px;
}

.Transfers .leftform,
.Transfers .rightform {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 10px;
    min-height: 200px;
}

@media (max-width: 1200px) {
    .leftform {
        width: 100%;
    }

    .rightform {
        width: 100%;
    }    
}

@media (max-width: 749px) {
    .leftform {
        width: 100%;
    }

    .rightform {
        width: 100%;
    }
}

@media (max-width: 340px) {
    .leftform{
        width: 100%;
        padding: 0;
    }

    .rightform{
        width: 100%;
        padding: 0;
    }
}